$white: "#fff";

@mixin border($size) {
  border: $size solid black;
}

.test {
  color: $white;
}

.body {
  background-color: red;

  .footer {
    background-color: black;

    a {
      color: $white;
    }
  }
}

.flag1 {
  @include borders:
  background-color: purple;
}

.flag2 {
  @include borders:
  background-color: red;
}